/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
    --font-family1: "Montserrat", sans-serif;
    --font-family2: "Raleway", sans-serif;
    --font-family3: "Roboto", sans-serif;
    
	/* Colors */
    
	--main-color-dkred: #980000;
	--main-color-white: #FFFFFF;
	--main-color-black: #383737;
	--main-color-ltred: #e67d7d;
	--main-color-mdgrey: #5a5858;
	--main-color-ltgrey: #d0caca;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Example Syntax */
#sec_lan {
	height: 200vh;
	background-color: #5a5858;
    font-family: "Montserrat", sans-serif;
}

#sec_bio {
	height: 200vh;
	background-color: #980000);
    font-family: "Raleway", sans-serif;
}

#sec_info {
	height: 200vh;
	background-color: #5a5858;
    font-family: "Roboto", sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

