.parent{
    height: 700px;
    width: 700px;
    font-size: 42px;
    text-align: center;
    position: fixed;
    background-color: #dfdfdf;
    border: solid 3px #c7181c;
    padding: 20px;
    background-image:url(/assets/img/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.child-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7181c;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 100px;
    top: 100px;
    border: solid 3px #333;
    font-family: inherit;
    font-size: 36px;
}

.child-two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7181c;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 400px;
    top: 100px;
    border: solid 3px #333;
    font-family: inherit;
    font-size: 36px  
}

.child-three{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7181c;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 100px;
    top: 400px;
    border: solid 3px #333;
    font-family: inherit;
    font-size: 36px  
}

.child-four{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7181c;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 400px;
    top: 400px;
    border: solid 3px #333;
    font-family: inherit;
    font-size: 36px  
}
